<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @task.type == "Subtask" %>
    <div class="field">
      <%= f.label :main_task %>
      <%= f.select :main_task_id, options_from_collection_for_select(@maintasks, :id, :name) %>
    </div>   
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="field">    
    <%= f.hidden_field :type %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :categories, options_from_collection_for_select(@categs, :id, :name) %>
    <%= link_to 'new category', new_category_path %>
  </div> 

  <div class="field">
    <%= f.label :priority %>
    <%= f.select :priority_id, options_from_collection_for_select(@priorities, :id, :to_s) %>
  </div> 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
