  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= task.date %></td>
        <td><%= link_to task.priority, task.priority if task.priority %></td>
        <% if task.type == "Subtask" %>  
          <td>  
            <% if task.main_task %>
              <%= task.main_task.name %>
            <% end %>
          </td>
        <% end %>
        <% if current_user == task.user %>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            <% if !task.done %>
              <%= button_to 'Done!', mark_done_task_path(task.id), method: :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

