<p id="notice"><%= notice %></p>

<% if @tasks.first and @tasks.first.type == "Subtask" %>
  <h1>Subtasks to do</h1>
<% else %>
  <h1>Tasks to do</h1>
<% end %>

<table>
  <%= render 'table_head_index', tasks: @tasks %>
  <%= render 'table_contents', tasks: @tasks %>
</table>

<p><%= link_to 'New Task', new_task_path %></p>

<h1> Finished tasks </h1>

<table>
  <%= render 'table_head_index', tasks: @done_tasks %>
  <%= render 'table_contents', tasks: @done_tasks %>
</table>

