<p id="notice"><%= notice %></p>

<h1>Tasks to do</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', tasks_path(order:"name") %></th>
      <th><%= link_to 'Date', tasks_path(order:"date") %></th>
      <th><%= link_to 'Priority', tasks_path(order:'priority') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= task.date %></td>
        <td><%= link_to task.priority, task.priority if task.priority %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if !task.done %>
            <%= button_to 'Done!', mark_done_task_path(task.id), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Task', new_task_path %></p>

<h1> Finished tasks </h1>

<table class="finished">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Priority</th>
    </tr>
  </thead>

  <tbody>
    <% @done_tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= task.date %></td>        
        <td><%= link_to task.priority, task.priority if task.priority %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

