<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  Categories: 
  <ul>
    <% @task.categories.each do |category| %>
      <li><%= link_to category, category %> <%= link_to 'remove', tasks_category_path(@task.task_category(category.id)), method: :delete %></li>
    <% end %>
  </ul>
</p>

<p>
  Add category 
  <%= form_for(@tasks_category) do |f| %>
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.select :category_id, options_from_collection_for_select(@categs, :id, :name) %>
    <%= f.submit value: "add" %>
  <% end %>

</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>

<p>
  <strong>Info:</strong>
  <%= @task.info %>
</p>


<% if @task.type == "Subtask" and not @task.main_task.nil? %>
  main task: <%= link_to @task.main_task.name, @task.main_task %>
<% end %>


<ul>
  <% if @task.type == "MainTask" %>
    <% @task.subtasks.each do |subtask| %>
      <li><%= link_to subtask.name, subtask %></li>
    <% end %>
  </ul>
  <%= link_to 'add new subtask', new_subtask_path %> |
<% end %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
