<p id="notice"><%= notice %></p>

<h2>  <%= @task.name %> </h2>

<strong>Info:</strong>
<p class="infobox">
  
  <%= @task.info %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>priority:</strong> 
  <%= link_to @task.priority, @task.priority if @task.priority %>
</p>

<p>
  Categories: 
  <ul>
    <% @task.categories.each do |category| %>
      <li><%= link_to category, category %> <%= link_to 'remove', tasks_category_path(@task.task_category(category.id)), method: :delete %></li>
    <% end %>
  </ul>
</p>

<p> 
  <%= form_for(@tasks_category) do |f| %>
    Add category:
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.select :category_id, options_from_collection_for_select(@task.excluded_categories, :id, :name) %>
    <%= f.submit value: "add" %>
  <% end %>
</p>



<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>


<% if @task.type == "Subtask" and not @task.main_task.nil? %>
  main task: <%= link_to @task.main_task.name, @task.main_task %>
<% end %>


<p>
<% if @task.type == "MainTask" %>
  <h3>Subtasks</h3> 

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Priority</th>
      </tr>
    </thead>

    <tbody>
      <% @task.subtasks.unfinished.each do |subtask| %>
        <tr>
          <td><%= link_to subtask.name, subtask %></td>
          <td><%= subtask.date %></td>
          <td><%= link_to subtask.priority, subtask.priority if subtask.priority %></td>
          <td>
            <% if !subtask.done %>
              <%= button_to 'Done!', mark_done_task_path(subtask.id), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h3>Finished subtasks</h3>

  <ul>
    <% @task.subtasks.finished.each do |subtask| %>
      <li>
          <% if subtask.done %> 
            <%= link_to subtask.name, subtask, class: "test666" %>  
          <% else %>
            <%= link_to subtask.name, subtask %>
            <%= link_to '[check done]', mark_done_task_path(subtask.id), method: :post %>
          <% end %> 
      </li>
    <% end %>
  </ul>

  <%= link_to 'add new subtask', new_subtask_path(@task.id), method: :post %> 

<% end %>


<p>
  <% if !@task.done %>
    <%= button_to 'Done!', mark_done_task_path(@task.id), method: :post %>
  <% else %>
    Task is done!
  <% end %>
</p>

</p>
<%= link_to 'Edit', edit_task_path(@task) %> 
<%= link_to 'Destroy', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', tasks_path %>
