<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @task.info %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>priority:</strong> 
  <%= @task.priority %>
</p>

<p>
  Categories: 
  <ul>
    <% @task.categories.each do |category| %>
      <li><%= link_to category, category %> <%= link_to 'remove', tasks_category_path(@task.task_category(category.id)), method: :delete %></li>
    <% end %>
  </ul>
</p>

<p> 
  <%= form_for(@tasks_category) do |f| %>
    Add category:
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.select :category_id, options_from_collection_for_select(@task.excluded_categories, :id, :name) %>
    <%= f.submit value: "add" %>
  <% end %>
</p>


<p>
  <% if !@task.done %>
    <%= link_to 'Done!', mark_done_task_path(@task.id), method: :post %>
  <% else %>
    Task is done!
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>


<% if @task.type == "Subtask" and not @task.main_task.nil? %>
  main task: <%= link_to @task.main_task.name, @task.main_task %>
<% end %>


<p>
<% if @task.type == "MainTask" %>
  <h4>Subtasks</h4> 
  <ul>
    <% @task.subtasks.each do |subtask| %>
      <li><%= link_to subtask.name, subtask %> 
          <% if subtask.done %>
            done!
          <% else %>
            <%= link_to 'done?', mark_done_task_path(subtask.id), method: :post %>
          <% end %> 
      </li>
    <% end %>
  </ul>
  <%= link_to 'add new subtask', new_subtask_path %> 
<% end %>

</p>
<%= link_to 'Edit', edit_task_path(@task) %> 
<%= link_to 'Destroy', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', tasks_path %>
