<p id="notice"><%= notice %></p>

<h2><%= @task.name %> </h2>

<strong>Info:</strong>

<p class="infobox">
    <%= @task.info %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>priority:</strong> 
  <%= link_to @task.priority, @task.priority if @task.priority %>
</p>

<p>
  Categories: 
  <ul>
    <% @task.categories.each do |category| %>
      <li><%= link_to category, category %> 
      <% if current_user == @task.user %>
        <%= link_to 'remove', tasks_category_path(@task.task_category(category.id)), method: :delete %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<% if current_user == @task.user %>
<p> 
  <%= form_for(@tasks_category) do |f| %>
    Add category:
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.select :category_id, options_from_collection_for_select(@task.excluded_categories, :id, :name) %>
    <%= f.submit value: "add" %>
  <% end %>
</p>

<% end %>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>


<% if @task.type == "Subtask" and @task.main_task %>
  Main task: <%= link_to @task.main_task.name, @task.main_task %>
<% end %>


<% if @task.type == "MainTask" %>
  <h3>Subtasks</h3> 

  <table>
    <%= render 'table_head_show' %>
    <%= render 'table_contents', tasks: @task.subtasks.unfinished %>
  </table>

  <% if current_user and current_user == @task.user %>
    <%= link_to 'add new subtask', new_subtask_path(@task.id), method: :post %> 
  <% end %>


  <h3>Finished subtasks</h3>

  <table>
    <%= render 'table_head_show' %>
    <%= render 'table_contents', tasks: @task.subtasks.finished %>
  </table>

<% end %>

<p>
  <% if !@task.done %>
    <% if current_user == @task.user %>
      <%= button_to 'Done!', mark_done_task_path(@task.id), method: :post %>
    <% end %>      
  <% else %>
    Task is done!
  <% end %>
</p>

<% if current_user == @task.user %>
  <%= link_to 'Edit', edit_task_path(@task) %> 
  <%= link_to 'Destroy', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', tasks_path %>
