<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
  Tasks in this category:
  <ul>
    <% @category.tasks.each do |task| %>
      <li> 
        <%= link_to task.name, task %> <%= task.date %>    
        <% if not task.main_task_id.nil? %>   
          main task: <%= link_to task.main_task.name, task_path(task.main_task) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> 
<%= link_to 'Destroy', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
|
<%= link_to 'Back', categories_path %>
